div{
   background-color: rebeccapurple;
    position: relative;
    margin: 0 auto;
    z-index: -2;
    animation: pulse 5s infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}


#diegomamon {
    position: relative;
}


#cara{
    position: absolute;
    z-index: 2;
    left: 700px ;
    right: 0;
    top: 200px;
    bottom: 0 ; 
    margin: 0 auto;
    transition: 2s;
    
}

 #oreja-der{
    position: absolute;
    z-index: -1;
    left: 945px ;
    right: 0;
    top: 230px ;
    bottom: 0;
    margin: 0 auto;
    transition: 1s;

    }

#oreja-izq{
    position: absolute;
    z-index: -1;
    left: 650px;
    right: 0 ;
    top: 230px;
    bottom: 0 ;
    margin: 0 auto;
    transition: 1s;
        
    }
        
        


#ojo-der{
    position: absolute;
    z-index: 3;
    left:766px ;
    right: 0;
    top: 250px;
    bottom: 0;
    margin: 0 auto;
    transition: 1s;
            
    }



 
#ojo-izq{
    position: absolute;
    z-index: 3;
    left: 840px;
    right: 0;
    top:250px;
    bottom: 0;
    margin: 0 auto;
    transition: 1s;
                
    } 

#sombrero{

    position: absolute;
    z-index: 3;
    left: 728px;
    right: 0;
    top: 105px;
    bottom: 0;
    margin: 0 auto;
    transition: 1s;
    
}

#nariz{

    position: absolute;
    z-index: 3;
    left: 780px;
    right: 0;
    top:310px;
    bottom: 0px;
    margin: 0 auto;
    transition: 1s;

}

#mostacho{

    position: absolute;
    z-index: 2;
    left: 760px;
    right: 0;
    top: 440px;
    bottom: 0;
    margin: 0 auto;
    transition: 1s;
    

}

#zapato-izq{

    position: absolute;
    z-index: -1;
    left: 700PX;
    right: 0;
    top: 550px;
    bottom: 0;
    margin: 0 auto;
    transition: .5s;
    


}

#zapato-der{

    position: absolute;
    z-index: -1;
    left: 870px;
    right: 0;
    top: 550px;
    bottom: 0;
    margin: 0 auto;
    transition: .5s;
    


}

#diegomamon:hover #cara{
    transform: scale(1.1);


}


#diegomamon:hover #sombrero{
    transform: rotate(360deg);


}


#zapato-izq:hover, #zapato-der:hover {
    transform: translateY(30px);
}

#ojo-der:hover, #ojo-izq:hover{
    transform: scale(1.3);
}

#nariz:hover{
    transform: scale(1.3);
}

#oreja-izq:hover , #oreja-der:hover{
    transform: skew(30deg);
}

#mostacho:hover {
    transform: rotate(40deg) ;
    transform: rotateY(150deg);

}




#diegomamon{
    width: 800px;
    height: 700px;
    margin: 0 auto;
    z-index: 1;
    animation: pulse 20s infinite;
}

@keyframes pulse {
    0%{
        background: rgb(71, 148, 225);
    }
    10% {
      background: url(../img/fondo1.jpeg);
      background-size: cover;
    }
    20%{
        background: url(../img/fondo2.jfif);
        background-size: cover;
    }
    40%{
        background: url(../img/fondo3.jfif);
        background-size: cover;
    }
    60%{
        background: url(../img/fondo4.jpg);
        background-size: cover;
    }
    80%{
        background: url(../img/fondo5.jpg);
        background-size: cover;
    }
    100% {
      background: url(../img/fondo6.jfif);
      background-size: cover;
    }
  }
